# PostgreSQL configs
POSTGRES_USER=citms_user
POSTGRES_PASSWORD=citms_pass
POSTGRES_DB=citms_db
# Dùng cho backend Docker container kết nối service pg (hostname lả "db") 
DATABASE_URL=postgresql+asyncpg://citms_user:citms_pass@db:5432/citms_db
# Dùng cho chạy trực tiếp dev ngoài host máy tính (nếu bạn chạy uvicorn local)
# DATABASE_URL=postgresql+asyncpg://citms_user:citms_pass@localhost:5432/citms_db

# Redis
REDIS_URL=redis://redis:6379/0

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_URL=http://minio:9000
MINIO_BUCKET=citms-bucket

# Auth & Security
SECRET_KEY=yoursecretkey_changethisinproduction
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 1 day

# Logging
LOG_LEVEL=INFO
ENVIRONMENT=development
